:root {
    --green: #326756;
    --light: #98CDBC;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right top, var(--green), var(--light));;
}
.login {
    position: absolute;
    display: flex;
    right: 0;
    top: 75px;
    z-index: 2;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.8);
    font-size: 20px;
}
.form {
    display: none;
    width: 14vw;
    height: 40vh;
    background: rgba(255,255,255,0.8);
}
.button:hover + .form {
    display: block;
}
.bg__image {
    position: absolute;
}
.bg__image--bgone {
    height: 40vh;
    top: 100px;
    left: -200px;
    opacity: 0.25;
}
.bg__image--bgtwo {
    height: 30vh;
    bottom: 30px;
    right: 10px;
    opacity: 0.25;
}
.logo__img {
    height: 15vh;
}
header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
nav {
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;;
}
li a {
    position: relative;
    display: block;
    color: var(--green);
    text-decoration: none;
    font-size: 22px;
    padding: 16px 18px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0));
    z-index: 1;
}
li a::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), var(--light));
    transition: opacity 0.5s linear;
    opacity: 0;
    z-index: -1;
}
li a:hover::before {
   opacity: 1; 
}
article {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 75px;
}
section {
    width: 66vw;
    max-height: 80vh;
    display: block;
    overflow: auto;
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
    padding: 20px 14px;
}
.section__name {
    display: block;
    font-size: 30px;
    margin-left: 55px;
    margin-bottom: 30px;
    background: linear-gradient(90deg, var(--green), var(--light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 18px;
    color: var(--green);
}